services:

  db:
    image: postgres
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
#      - postgres_data:/var/lib/postgresql
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: testdb
    ports:
      - "5432:5432"
    networks: 
      - app-network

  gleam:
    build:
      context: ./
      network: host
    ports: 
      - "3000:3000"
    depends_on:
      - db
    networks:
      - app-network


  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
