.flexcolumn {
    display: flex;
    flex-direction: column;
}

.flexrow {
    display: flex;
    flex-direction: row;
}

.spacebetween {
    justify-content: space-between;
}

.alittlegap {
    gap: 10px;
}
.abiggergap {
    gap: 30px;
}

.center {
    align-items: center;
    justify-content: center;
}

.verticalcenter {
    align-items: center;
}
.horizontalcenter {
    justify-content: center;
}

.zeropadding {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.zeromargin {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.whitebox {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

.lightgreybox {
    background-color: rgba(217, 217, 217, 1);
    padding: 20px;
    border-radius: 10px;
}

.navbar {
    background-color: white;
    padding: 10px;
}

.lightboxshadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

body {
    background-color: rgb(190, 190, 190);
    padding: 0;
    margin: 0;
}

form {
    max-width: 100%;
    max-height: 100%;
    width: 60%;
}

div {
    max-width: 100%;
    max-height: 100%;
}

iframe {
    border: 0;
}

.boxes {
    width: 25vw;
}

.submit {
    max-width: 200px;
    max-height: 50px;
    width: 200px;
    height: 50px;
    background-color: rgb(130, 224, 130);
    border-radius: 10px;
    transition: 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}

.databox {
    width: 50%;
    height: 50%;
}

.hundy {
    width: 100%;
    height: 100%;
}

.test {
    width: 70vw;
    height: 100vh;
}

.submit:hover {
    background-color: rgb(93, 184, 93);
}

.submit:active {
    background-color: rgb(94, 163, 94);
}

.margin {
  margin-top: 30px;
}

.textinput {
  border-radius: 10px;
}

.smallwhiteborderbox {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
}