.formflexcolumn {
    display: flex;
    flex-direction: column;
}

.formnopadding {
    padding-top: 0px;
    padding-bottom: 0px;
}

.formflexrow {
    display: flex;
    flex-direction: row;
}

.formspacebetween {
    justify-content: space-between;
}

.formalittlegap {
    gap: 10px;
}

.formabiggergap {
    gap: 30px;
}

.formcenter {
    align-items: center;
    justify-content: center;
}

.formverticalcenter {
    align-items: center;
}

.formhorizontalcenter {
    justify-content: center;
}

.formwhitebox {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

.formlightgreybox {
    background-color: rgba(217, 217, 217, 1);
    padding: 20px;
    border-radius: 10px;
}

.formlightboxshadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

body {
    background-color: rgb(190, 190, 190);
    padding: 0;
    margin: 0;
}

form {
    max-width: 100%;
    max-height: 100%;
    width: 60%;
}

div {
    max-width: 100%;
    max-height: 100%;
}

iframe {
    border: 0;
}

.formboxes {
    width: 25vw;
}

.formsubmit {
    max-width: 200px;
    max-height: 50px;
    width: 200px;
    height: 50px;
    background-color: rgb(130, 224, 130);
    border-radius: 10px;
    transition: 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}

.formhundred {
    width: 100%;
    height: 100%;
}

.formmaindiv {
    width: 70vw;
    height: 100vh;
}

.formsubmit:hover {
    background-color: rgb(93, 184, 93);
}

.formsubmit:active {
    background-color: rgb(94, 163, 94);
}

.formmargin {
  margin-top: 30px;
}

.explaintextinput {
  border-radius: 10px;
}

.formpill {
    background-color: rgb(250, 250, 250);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
    border: 1px solid black;
    display: inline-block;
    font-size: 10px;
}