.page {
    max-width: 25rem;
    margin: 3rem auto;
    background-color: white;
    border-radius: 0.5rem;
}

.page h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 1.25rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    color: grey;
}

.form-group input:focus {
    outline: none;
    border-color: blue;
}

button[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    background-color: blue;
    color: white;
    border: none;
    font-size: 1rem;
    margin-top: 0.625rem;
}

button[type="submit"]:hover {
    background-color: darkblue;
}

.signup-section {
    margin-top: 40px;
    text-align: center;
}

.signup-button {
    margin-top: 10px;
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    background-color:blue;
    color:white;
    border:none;
}

.signup-button:hover {
    background-color:blue;
}