.password-errors {
    margin-top: 8px;
    color: #d32f2f;
    font-size: 0.9rem;
}

.password-errors strong {
    display: block;
    text-decoration: underline;
    padding-bottom: 0.2rem;
}

.password-errors li {
    list-style-position: inside;
    padding-left: 0.5rem;
    margin: 0;
}