* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:Arial, sans-serif;
  background-color: white;
  color: black;
}

.navbar {
  display: flex;
  gap: 2rem;
  padding: 1rem 3rem;
  background-color: red;
  border-bottom: red;
}

.nav-link {
  color: purple;
  padding: 0.75rem 1rem;
  border-radius: 0.4rem;
  font-weight: 800;
  background-color: yellow;
}

.nav-link:hover {
  background-color: green;
}